// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #167FFB;
$orange: #A68549;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
// comment test push

$black-dark: #222222;
$black-light: #333333;

$gold-dark: #A68549;
$gold-light: #D0A65B;

$square-light: #A68448;
$square-lighter: #D9B77B;

$white: #FBF8EF;
