// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #167FFB;
$orange: #A68549;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
// comment test push

$black-b: #151515;  ////backgroiund color linear top
$black-light: #222222; ////backgroiund color linear bottom

$black-dark: #222222;

$gold-dark: #A68549;
$gold-light: #D0A65B;

$square-light: #A68448;
$neon-light: #d9aa7b;

$white: #FBF8EF;
