////-------------------- dashboard edit section-------------/////
.current-gallery{
  h1{
    text-align: center;
    color: $white;
  }
}
.current-gallery-edit-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  button{
    font-size: 17px;
  }
  a{
  color: $gold-light;
  font-size: 25px;
  margin-right: 10px;
  text-decoration: none;
  }
  i{
  color: $gold-light;
  font-size: 25px;
  transition: 1s;
  height: 100%
  }
  .fa-cog02{
  color: $gold-light;
  font-size: 25px;
  transition: 1s;
  height: 100%;
  margin-top: 10px;
  }
}
a:hover{
  text-decoration: none;
}
.current-gallery-edit-button:hover{
  i{
    transform: rotate(180deg);
  }
  .fa-cog02{
    transform: rotate(-180deg);
  }
}
/// ----------------------this is the edit gallery section ------------------------
.dash-container {
  width:95%;
  max-width: 1200px;
  color: white;
  margin:auto;
  h3{
    font-size: 1.2rem;
  }
}
.dash-main-content {
  margin-top: 30px;
}

.cards {
  width: 95%;
  max-width:1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  grid-row-gap: 60px;
  text-decoration: none;
  margin: auto;
  margin-bottom: 150px;
}

.cards a:hover {
  text-decoration: none;
}

.cards a {
  .fa-times{
    text-decoration: none;
    font-size: 24px;
    color: white;
    position: absolute;
    right: -10px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cc0000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
  }
  .fa-plus{
    text-decoration: none;
    font-size: 24px;
    color: white;
    position: absolute;
    right: -10px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gold-light;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
  }
}
.cards a:hover {
  .fa-times{
    transform: scale(1.14);
    color: black;
  }
  .fa-plus{
    transform: scale(1.14);
    color: black;
  }
}
.cards a:active{
  .fa-times{
    background-color: $white;
    transform: scale(5)
  }
  .fa-plus{
    background-color: $white;
    transform: scale(5)
  }
}


.main-content {
  padding-top: 25px;
  margin-bottom: 40px;
}

.card-nft {
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  transition: transform .3s;
  display: flex;
  justify-content: center;
}
.card-nft:hover {
  transform: scale(1.1);
  cursor: grab;
}
.sortable-ghost, .sortable-chosen, .grabbing-nft {
  cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
	cursor:    -moz-grabbing !important; /* Firefox 1.5-26 */
	cursor:         grabbing !important;
}
.card-nft a:hover {
  text-decoration: none;
}

.card-nft > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card-nft > video {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-nft h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-nft p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-nft .card-nft-infos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background: $white;
  height: 60px;
  width: 90%;
  padding:2px 15px;
  border-radius: 20px;

  bottom: -12%;

  text-decoration: none;
  color: $black-dark;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .current-gallery{
    margin-top: 30px;
  }
  .cards {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }
  .dash-container{
    width: 100%;
    word-break: break-word;
    h2{
      margin-top: 40px;
      font-size: 15px;
    }
  }
  .current-gallery-edit-button-div{
    align-items: center;
    h2{
      font-size: 30px;
    }
    i{
      font-size: 40px;
      .fa-cog{
        margin-bottom: 10px;
      }
    }
  }
  .current-gallery-edit-button{
    align-items: flex-end;
  }
  .current-gallery{
    // padding-top: 15px;
    h1{
      font-size: 25px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .dash-container{
    width: 100%;
    word-break: break-word;
    h2{
      font-size: 20px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .dash-container{
    width: 100%;
    word-break: break-word;
    h2{
      font-size: 30px;
    }
  }
  .edit-gallery-optioins-btn{
    i{
      font-size: 20px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .dash-container{
    width: 100%;
    word-break: break-word;
    h2{
      font-size: 30px;
    }
  }
  .edit-gallery-optioins-btn{
    i{
      font-size: 20px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .dash-container{
    width: 100%;
    word-break: break-word;
    h2{
      font-size: 40px;
    }
  }
  .edit-gallery-optioins-btn{
    i{
      font-size: 20px;
    }
  }
}
