.edit_name_form {
  width:480px;
  margin-top: 5px;
  display: flex;
}

.edit_name_content {
  width: 100%;
}


.name-input {
  padding: 10px;
  font-size: 14px;
  // border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

// .save_name_btn {
//   float: left;
//   width: 30%;
//   padding: 10px;
//   background: #212121;
//   color: white;
//   font-size: 14px;
//   border: 1px solid grey;
//   border-left: none; /* Prevent double borders */
//   cursor: pointer;
//   transition-duration: 0.3s;
// }

.btn-search:hover {
  background: #6D9886;
}
