// Specific CSS for your home-page
.body-home-div{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 0;
}

.home-landing-content-div{
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;

  margin-top:100px ; //margin on the top  for tbhe home landing infos
  height: 60vh;
  width: 95%; //making the width for the div

  img{ // this is the image when landing
  width: 100%;
  transform: rotate(20deg);
  }
}
.content-text-home-landing{
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 5;
  color: $white;
  width: 51%;

  h3{
    font-size: 2.5rem;
  }
  p{
  font-size: 1.4rem;
  margin-bottom: 30px;
  }
  a{
    margin-left: 80px;
    margin-top: 20px;
    padding: 7px 18px;

    color: $gold-light ;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid $gold-light ;
    border-radius: 10px;

    transition: var(--transition1);
  }
  a:hover{
  text-decoration: none;
  border: 1px solid transparent;
  background-color: $gold-light ;
  color: $white ;
  border-radius: 15px;
  }
}

// content explicative on the home page
// the 3 cards
.home-explaining-content-parent{ //give the generals values to the div
  margin: 100px 0 0;
  height: 350px;
  width: 100%;
}
.home-explaining-content-child{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 100%;
}
.card-explain-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 230px;
  width: 350px;
  border-radius: 15px;

  text-align: center;
  background: $black-dark;
  color: $white;
}
.card-explain-home i{
  font-size: 4rem;
  color: $white ;
}
