// Import page-specific CSS files here.
@import "home";

.flex-container {
    display: flex;
  /*Generates a flexbox layout with default flex direction as row */
  width: 100%;
  /* Not really required */
  align-items: center;
  /*Aligns contents vertically */
  justify-content: center;
  /*Aligns contents horizontally */
  text-align: center;
  /*Aligns further text in the center */
  }
.gal {
    display: table-cell;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
.gal a:hover {
    text-decoration: none;
  }
  
.top {
    display: flex;
    margin: 0 15px;
}

.middle {
    flex-direction: column;
    padding: 4px;
    margin: 0 15px;
}
.gal-nft {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  transition: transform .3s;
}

.gal-nft:hover {
  transform: scale(1.03);
}

.gal-nft a:hover {
  text-decoration: none;
}

.gal-nft > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.gal-nft h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.gal-nft p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.gal-nft gal-nft-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  text-decoration: none;
  color: gray;
  height: 80px;
}
.gal2 {
    margin-top: 100px;
    text-align: left;
}