// Import page-specific CSS files here.
@import "home";

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    width: 100%;
  }
.gal {
    display: table-cell;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    background: #222222;   
}
.top {
    display: flex;
    margin: 0 15px;
}

.middle {
    flex-direction: column;
    padding: 4px;
    margin: 0 15px;
}