<div class="complet-div-footer">
  <div class="this-the-div-for-the-footer">
    <div class="this-is-the-about-us-page">
      <%= link_to "About us", "#" %>
    </div>
    <div class="footer-main-div">
      <h1>We are the fucking best team</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </div>
    <div class="logo-footer-main-div">
      <a href="https://twitter.com"></a><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
      <a href="https://opensea.io"><i class="fas fa-water"></i></a>
    </div>
  </div>
</div>
