<div class="complet-div-footer">
  <div class="this-the-div-for-the-footer">
    <div class="this-is-the-about-us-page">
      <%= link_to "About us", aboutus_path %>
    </div>
    <div class="footer-main-div">
      <h2>Copyright © 2021 · NFTease</h2>
    </div>
    <div class="logo-footer-main-div">
      <a href="https://github.com/abpaul87/NFTease"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>
