

<div class="body-home-div">

  <div id="blob" class="position-absolute" style="top: 7%;"></div>

    <div class="content-text-home-landing-parent">
      <h3 class="neonText">NFTease: The gallery made by enthusiasts for enthusiasts!</h3>
      <p class="fw-light neonText">Create a gallery for your NFT in less than 3 minutes for free.</p>
      <% if user_signed_in? %>
        <%= link_to "My Gallery", "#" %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>


  <div class="home-explaining-content-parent">
    <div class="home-explaining-content-child">
      <div class="card-explain-home">
        <i class="ph-fast-forward-circle"></i>
        <h2>Fast</h2>
        <h4>Easy and fast to use</h4>
      </div>
      <div class="card-explain-home">
        <i class="ph-sliders" style="transform: rotate(90deg);"></i>
        <h2>Customizable</h2>
        <h4>Customize to your needs</h4>
      </div>
      <div class="card-explain-home">
        <i class="ph-share-network"></i>
        <h2>Accesible</h2>
        <h4>Share with your friends and family</h4>
      </div>
    </div>
  </div>
</div>
