.nft-modal-content {
  width:90%;
  margin-left:5%;
  margin-top:5%;
  max-height:80vh;
  overflow:hidden;
  display: flex;
  align-items: center;

  height: fit-content;

  background: linear-gradient(to bottom, $show-card-top, $show-card-bottom);
  border-radius: 20px;
  .button-like-img-nft {
  position: absolute;
  bottom: 5%;
  left: 40%;
  z-index: 10;
  padding: 1px 10px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid $black-dark;
  font-size: 15px;
  font-family: 'VT323', monospace;
  color: $black-dark;
  transition: 0.3s ease-in;
    i{
    color: $black-dark;
    font-size: 15px;
    padding: 1px 3px;
    margin: 0;
    }
  }
  .button-like-img-nft:hover{
  border: 2px solid transparent;
  background: $gold-light;
  color: $black-dark;
  }
  .nft-modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    .notowhitebtn{
    background: none;
    border: none;
    font-size: 25px;
    }
  }
}


.nft-modal_imagecontent{
  position: relative;
  height: fit-content;
  width: 50%;

}

.nft-modal_image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height:fit-content;
  width: 100%;
  height: 100%;

  img{
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: fit-content;
  }
}

.nft-modal-left-content {
  height: fit-content;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.nft-modal_textcontent{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  margin-bottom: 10%;
  margin-right: 5%;
}


.nft-modal_text{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: fit-content;
  width: 100%;
  color: $white;

  h2{
    color: $gold-light;
    font-size: 30px;
    margin: 10px 0 0;
    font-family: 'VT323', monospace;
  }
  h3{
    font-size: 25px;
    margin:10px 0;
  }
  p{
    margin: 0 0 10px 10px;
    opacity: 0.6;
    width: 100% ;
    word-break: break-word;
  }
}

#modal-content-h3{
  margin-bottom: 4px;
}
////Opensea button and share button
#modal-OS-button-bottom{
  position: absolute;
  bottom: 5%;
  right: 3%;
  .button {
  padding: 1px 10px;
  margin-left: 10px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid $gold-light;
  font-size: 15px;
  font-family: 'VT323', monospace;
  color: $gold-light;
  transition: 0.3s ease-in-out;
  }
  .button:hover{
  border: 2px solid transparent;
  background: $gold-light;
  color: $black-dark;
  }
}

