<div class="dash-container">
  <div class="dash-main-content">
    <div class="current-gallery">
      <h1>Browse Top Galleries</h1>
      <div class="cards">
          <% @galleries[0..7].each do |gallery| %>
            <%= link_to gallery_path(gallery) do %>
              <div class="card-nft">
                <% gallery1 = gallery.nfts.first.image_url_small %>
                <% gallery2 = gallery.nfts.last.image_url_small %>
                <% gallery3 = gallery.nfts.sample.image_url_small %>
                <img src="<%=gallery1%>">
                <div class="card-nft-infos">
                  <div>
                    <h2><%=truncate(gallery.name, length: 20)%></h2>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
      </div>
    </div>
  </div>
</div>
