<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,400i|Nunito:200,300i" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <title>Find Galleries to Browse</title>
    </head>
    
<div class="navbar-design-parent-div">
  <div class="main-content">
        <div class="content-header">
        <div class="header-text"><h1>#</h1></div>
                <div class="search-bar">
                <%= form_tag galleries_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "search-input",
                    placeholder: "NFT's galore"           
                    %>
                    <%= submit_tag "Search", class: "btn-search" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

   
    <h1>Trending</h1>
     <body>
        <section class="flex-container">
                <div class="gal">
                <% @galleries.each do |galleries| %>
                <a href="/galleries/1">
                    <p>
                    </p><div class="gal-nft">
                        <div class="top-nft">
                            <img src="assets/sample.jpg" width="200" height="200">  
                        </div>
                        <div class="middle" style="float: center;">
                            <img src="assets/sample.jpg" width="100" height="100">  
                            <img src="assets/sample.jpg" width="100" height="100">  
                        </div>
                    </div>
                    <p></p>
                    <%end%>
                </div>
                <div class="gal">
                <a href="/galleries/2">
                    <p>
                    </p><div class="gal-nft">
                        <div class="top-nft">
                            <img src="assets/sample.jpg" width="200" height="200">  
                        </div>
                        <div class="middle" style="float: center;">
                            <img src="assets/sample.jpg" width="100" height="100">  
                            <img src="assets/sample.jpg" width="100" height="100">  
                        </div>
                    </div>
                    <p></p>
                </div>
                <div class="gal">
                <a href="/galleries/3"> 
                    <p>
                    </p><div class="gal-nft">
                        <div class="top-nft">
                            <img src="assets/sample.jpg" width="200" height="200">  
                        </div>
                        <div class="middle" style="float: center;">
                            <img src="assets/sample.jpg" width="100" height="100">  
                            <img src="assets/sample.jpg" width="100" height="100">  
                        </div>
                    </div>
                    <p></p>
                </div>
            </section>
    </body>
    
</a>      

