<div class="dash-container">
  <div class="dash-main-content">
    <div class="current-gallery">
      <div id="browse-header">
        <h1>Popular Galleries</h1>
      </div>
      <div class="cards">
          <% @galleries.each do |gallery| %>
          <% if gallery.nfts.present? %>
            <%= link_to gallery_path(gallery) do %>
              <div class="card-nft">
                <% gallery1 = gallery.nfts.first.image_url_small %>
                <% gallery2 = gallery.nfts.last.image_url_small %>
                <% gallery3 = gallery.nfts.sample.image_url_small %>
                <img src="<%=gallery1%>">
                <div class="card-nft-infos">
                  <div>
                    <h5><%=truncate(gallery.name, length: 50)%></h5>
                  </div>
                </div>
              </div>
            <%end%>
            <% end %>
          <%end%>
      </div>
    </div>
  </div>
</div>
