// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/dashboard";
@import "pages/publicgallery";
@import "pages/gallery-edit";
@import "pages/browse-galleries";

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  background: linear-gradient(180deg, $black-b, $black-light);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: $gold-light;
}


:root{
  --transition1: 0.4s;
}
